<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>crud_using_DB2</display-name>
	<welcome-file-list>
		<welcome-file>jsp/home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>create</servlet-name>
		<servlet-class>com.app.Create</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>create</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.app.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.app.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.app.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
</web-app>