@charset "UTF-8";

input[type=number] {
	-moz-appearance: textfield;
}

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

#common_place {
	display: block;
	height: 500px;
	width: 0;
	position: fixed;
	top: 150px;
	right: 5%;
	background-color: #282828;
	overflow-x: hidden;
	transition: 0.5s;
	color: white;
	opacity: 90%;
	border-radius: 5%;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

#search_results {
	display: block;
	height: 0;
	width: 60%;
	position: flex;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	color: white;
	opacity: 95%;
	display: block;
	 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.content_display {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.table_head {
	height: 30px;
	border: 1px solid black;
	background-color: #202e2e;
	color: white;
}

.data_table td {
	height: 30px;
	border: 1px solid black;
}

.data_table:hover {
	transition:0.3s;
	background-color: #eaecec;
}

.data_table:hover .edit_delete {
	color: blue;
}

.data_table:hover .edit_delete:hover {
	color: red;
	border: none;
	background: none;
	box-shadow: none;
}

.recent_update_data {
	animation: 4s infinite bgcolorchange;
}

@keyframes bgcolorchange { 25% {
	background-color: rgb(218, 236, 204);
}

}
.recent_update_data td {
	height: 30px;
	border: 1px solid black;
}

.recent_update_data:hover {
	color: black;
}

.recent_update_data:hover .edit_delete {
	color: black;
}

.recent_update_data:hover .edit_delete:hover {
	color: red;
	border: none;
	background: none;
	box-shadow: none;
}

.forms {
	margin-top: 20%;
	margin-left: 10%;
}

.form_table td {
	height: 35px
}

.edit_delete {
	background: none;
	border: none;
	COLOR: white;
	font-size: 24px;
}

.search_content {
	width: 60px;
	height: 30px;
	border: 1px solid white;
}

.lead_name_column {
	background: none;
	border: none;
}

.lead_name_column:hover {
	color: green;
	text-decoration: underline;
}

textarea:focus, input:focus {
	outline: none;
	border: 2px solid black;
	-webkit-transition: 0.5s;
	background-color: #d7d9d9;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
	
}

td th {
	width: 50px;
}

.close_button {
	position: relative;
	float: right;
	background: black;
	color: white;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	border-color: white;
	border-radius: 50%;
}

.close_button:hover {
	background-color: red;
	box-shadow: 0px 0px;
}

/* FOR ALL BUTTONS*/
button:hover {
	background-color:black;
	color:white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

button {
	color: black;
	background-color: #d8dada;
	border: 2px solid black;
}
input {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	
}
@keyframes userNotFound { 
0% {
	color: red;
}
10% {
	color: white;
}
20% {
	color: red;
}
30% {
	color: white;
}
40% {
	color: red;
}
50% {
	color: white;
}
60% {
	color: red;
}
70% {
	color: white;
}
80% {
	color: red;
}
90% {
	color: white;
}
100% {
	color: red;
}
}
@keyframes main_tag_bg_color { 
	0% {
	background-color: #dae0de;
}
50% {
	background-color: #b6b6b6;
}
100% {
	background-color: #dae0de;
}
}
