@charset "UTF-8";

#loginError {
	width:24%;
	margin-left:33%;
	margin-right:33%;
	text-align:center;
	background-color: #ffc9c6;
	top: 2%;
	border:3px solid red;
	color: red;
	border-radius: 2px;
	visibility:hidden;
	padding: 16px;
	position: fixed;
	font-size: 17px;
	transition: 0.5s;
	
}

#loginError.show {
	visibility: visible;
	animation: shake 0.5s; 
	animation-iteration-count: infinite; 
}
#signupError {
	width:26%;
	margin-left:32%;
	margin-right:32%;
	text-align:center;
	background-color: #ffc9c6;
	top: 2%;
	border:3px solid red;
	color: red;
	border-radius: 2px;
	visibility:hidden;
	padding: 16px;
	position: fixed;
	font-size: 17px;
	transition: 0.5s;
	
}

#signupError.show {
	visibility: visible;
	animation: shake 0.5s; 
	animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
#successM {
	width:24%;
	margin-left:33%;
	margin-right:33%;
	text-align:center;
	background-color: #cbffbe;
	top: 2%;
	border:3px solid green;
	color: green;
	border-radius: 2px;
	visibility:hidden;
	padding: 16px;
	position: fixed;
	font-size: 17px;
	transition: 0.5s;
}

#successM.show {
	visibility: visible;
	-webkit-animation: slidein 0.5s, slideout 0.5s 2.5s;
	animation: slidein 0.5s, slideout 0.5s 2.5s;
}
#errorM {
	width:24%;
	margin-left:33%;
	margin-right:33%;
	text-align:center;
	background-color: #ffc9c6;
	top: 2%;
	border:3px solid red;
	color: red;
	border-radius: 2px;
	visibility:hidden;
	padding: 16px;
	position: fixed;
	font-size: 17px;
	transition: 0.5s;
	
}

#errorM.show {
	visibility: visible;
	animation: shake 0.5s; 
	animation-iteration-count: infinite; 
}
@-webkit-keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}

to {
	bottom: 20px;
	opacity: 1;
}

}@keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}

to {
	bottom: 20px;
	opacity: 1;
}

}@-webkit-keyframes fadeout {
	from {bottom: 20px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}

}@keyframes fadeout {
	from {bottom: 20px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}
}